body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  background-color: rgb(18, 29, 29);
  height:100vh;
  color:antiquewhite;
  display: flex;
  justify-content: center;
  padding:2rem 0 1rem;
  margin:0;
  overflow-y: scroll;
}
.selected {
  font-weight: bolder;
}

.review-form {
  width:60%;
}
.navbar {
  margin:0 auto;
  /* width:60%; */
  display:flex;
  justify-content: space-evenly;
}
.loading-img {
  width:auto
}
.login-btn-div {
  display:flex;
  padding:2rem;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  background-color: transparent;
  border:none;
  color:antiquewhite;
  font-weight:bold;
}